<h1>Favorite Index</h1>



<form method="post" action="/favorites/new" class="button_to">
  <input value="New" type="submit" />
</form>"

<%= link_to "Create New", new_favorite_path %><br>

<% @favorites.each do |fav| %>
  <%= link_to fav.user_id, favorite_path(fav) %><br>
<% end %>