
<div class="container">
  <div class="row"> 
    <% @pets.each do |pet| %>

      <div class="column"> 
        <div class="border border-light">
        <%= link_to image_tag(pet.img_url, border: 0), pet_path(pet), class: "img-rounded" %>
        <%= link_to pet.name, pet_path(pet), class: "pet" %><br>
        <%= link_to pet.breed, pet_path(pet) %><br>
      </div><br>
      </div>
      <% end %>

  </div>
  </div>

<%# <%= link_to "List New Pet", new_pet_path %>

  