// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body { 
  background-size: cover;
  background-position: center;
}

html {
  height: 100%;
}

.row {
display: flex;
flex-wrap: wrap;
padding: 1rem .5rem;
text-align: center;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 50%;
padding: 10px 10px;
}

.column img {
margin-top: 0px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 75%;
  max-width: 75%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
}
}

.border {
border-radius: 10px;
background: white;
padding: 1px;
width: 100%;
height: 90%;

}

.img-rounded {
border-radius: 10px;
}

.pet{
text-size: 50px;
}