

<%# <%= link_to "Create New", new_location_path %>


  <% @locations.each do |location| %>
  <div class="container2">
    <p><%= link_to location.name, location_path(location) %>, <%= location.pets.count %> pets available</p>
    </div><br>
  <% end %>



